example/CompassPowerBI-flow.json
[{"id":"8ceaf701.4d83e8","type":"tab","label":"CompassPowerBI-flow","disabled":false,"info":""},{"id":"6bb6289e.6f6a98","type":"http response","z":"8ceaf701.4d83e8","name":"","statusCode":"","headers":{},"x":1110,"y":260,"wires":[]},{"id":"20cd8dc6.7464e2","type":"switch","z":"8ceaf701.4d83e8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"199","vt":"num","v2":"300","v2t":"num"},{"t":"lt","v":"200","vt":"str"},{"t":"gt","v":"299","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":240,"wires":[["abc66ce1.8ad93"],["6bb6289e.6f6a98"],["6bb6289e.6f6a98"]]},{"id":"fb90c361.daf65","type":"csv to json ext","z":"8ceaf701.4d83e8","name":"","version":"0.1","source":"payload","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":850,"y":200,"wires":[["6bb6289e.6f6a98"]]},{"id":"abc66ce1.8ad93","type":"switch","z":"8ceaf701.4d83e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"array","vt":"array"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":220,"wires":[["6bb6289e.6f6a98"],["fb90c361.daf65"]]},{"id":"58112611.3731f8","type":"http in","z":"8ceaf701.4d83e8","name":"","url":"/compassData","method":"get","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["b2217a84.3a7198"]]},{"id":"b2217a84.3a7198","type":"compass-query","z":"8ceaf701.4d83e8","name":"","username":"","password":"","host":"","port":"","repo":"2.0.0","db":"SAMPL","token":"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsInJlcG8iOiIyLjAuMCIsImV4cCI6MTU5ODM3MDYyNiwiaWF0IjoxNTk4Mjg0MjI2LCJkYiI6IlNBTVBMIiwianRpIjoiMzdmMTI1ZWQtZmUxNS00MTlhLTk1ZDMtY2Y1MTQ5Y2IxMTEzIn0.R3P3SjDAovBTvqMHIxabJcOP5hrRDmBb1GnYoKZ6VV5Ezat4TBAoJUERoqcZebeO_JnwQyVBnFdysoLBspBjAA","queryList":"","dbID":"33554739","resultID":"d3a613f1-2e52-45e5-ad3d-37fd4e8b1ec7","file":"dbid,id,State,Headline,Severity,Priority,Owner\n33554433,SAMPL00000001,Opened,spelling error in login screen,3-Average,3-Normal Queue,admin\n33554434,SAMPL00000002,Resolved,sales tax incorrect if item deleted from purchase,1-Critical,2-Give High Attention,lead\n33554435,SAMPL00000003,Resolved,cancel sale doesn't correctly repaint screen,3-Average,3-Normal Queue,engineer\n33554436,SAMPL00000004,Resolved,want more help on inventory report,5-Enhancement,3-Normal Queue,QE\n33554437,SAMPL00000005,Resolved,columns out of alignment,3-Average,2-Give High Attention,engineer\n33554438,SAMPL00000006,Opened,delete item not working correctly,2-Major,2-Give High Attention,engineer\n33554439,SAMPL00000007,Resolved,override price does not work,2-Major,2-Give High Attention,engineer\n33554440,SAMPL00000008,Resolved,alt-C does not invoke cancel operation,3-Average,3-Normal Queue,engineer\n33554441,SAMPL00000009,Resolved,inventory re-order not done on large sale,2-Major,2-Give High Attention,user\n33554442,SAMPL00000010,Resolved,logout button should be disabled during sale,4-Minor,3-Normal Queue,engineer\n33554443,SAMPL00000011,Submitted,change due amount is supposed to be red,3-Average,,\n33554444,SAMPL00000012,Submitted,would like logout button to be larger,5-Enhancement,,\n33554445,SAMPL00000013,Opened,logout in middle of sale aborts sale,5-Enhancement,3-Normal Queue,engineer\n33554446,SAMPL00000014,Resolved,clerk allowed to charge too much on credit card,4-Minor,3-Normal Queue,engineer\n33554447,SAMPL00000015,Resolved,end-of-shift report fails if after midnight,3-Average,3-Normal Queue,engineer\n33554448,SAMPL00000016,Submitted,too many spaces in \"change due\" field,4-Minor,,\n33554449,SAMPL00000017,Resolved,delete operation leaves blank line in form,3-Average,3-Normal Queue,engineer\n33554450,SAMPL00000018,Resolved,add item button not active after adding 3 other items,1-Critical,1-Resolve Immediately,lead\n33554451,SAMPL00000019,Submitted,sales tax incorrect for NH,1-Critical,,\n33554452,SAMPL00000020,Resolved,credit card refused message is unclear,3-Average,3-Normal Queue,lead\n33554453,SAMPL00000021,Submitted,inventory report is not running correctly,1-Critical,,\n33554454,SAMPL00000022,Resolved,delete item button deletes two items,1-Critical,2-Give High Attention,engineer\n33554455,SAMPL00000023,Resolved,request change due in larger font,5-Enhancement,2-Give High Attention,lead\n33554456,SAMPL00000024,Submitted,overriding price operation allows negative number,2-Major,,\n33554457,SAMPL00000025,Resolved,heading of application looks too crowded,4-Minor,2-Give High Attention,lead\n33554458,SAMPL00000026,Opened,part number column not wide enough,3-Average,3-Normal Queue,engineer\n33554459,SAMPL00000027,Submitted,add item button is out of line with the other buttons,3-Average,,\n33554460,SAMPL00000028,Submitted,context sensitive help fails from reorder window,2-Major,,\n33554461,SAMPL00000029,Submitted,formatting does not look right in inventory report,3-Average,,\n33554462,SAMPL00000030,Submitted,add items fails for large quantities,3-Average,,\n33554463,SAMPL00000031,Resolved,spelling error in cancel sale help,3-Average,2-Give High Attention,lead\n33554464,SAMPL00000032,Submitted,shortcut to logout does not work,2-Major,,\n33554465,SAMPL00000033,Submitted,unable to add item already in sale list,2-Major,,\n33554466,SAMPL00000034,Submitted,cancel sale leaves ite in purchase list,3-Average,,\n33554467,SAMPL00000035,Opened,help for login screen brings up wrong topic,3-Average,3-Normal Queue,engineer\n33554468,SAMPL00000036,Submitted,inventory report is displaying an empty column,3-Average,,\n33554469,SAMPL00000037,Submitted,need report for items ordered on a given day,5-Enhancement,,\n33554470,SAMPL00000038,Submitted,sales tax amount is offset from label,4-Minor,,\n33554471,SAMPL00000039,Submitted,need automatic logout with QEeout,5-Enhancement,,\n33554472,SAMPL00000040,Submitted,spelling error in help for override price,4-Minor,,\n","errorMsg":"","showerror":"1","queryDef":false,"queryDefVal":"","queryDefChecked":"0","appList":"","app":"2.0.0-SAMPL","rootFolders":"","folderDbId":"","x":380,"y":240,"wires":[["20cd8dc6.7464e2"]]}]